# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# PyInstaller
build/
dist/

# Downloads & logs
downloads/
logs/

installers/*.exe
installers/*.msi
installers/*.msix
installers/*.zip
offline/**/*.exe
offline/**/*.msi
offline/**/*.msix
offline/**/*.zip
config/license.json

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
